:root {
  --gray: #2c2c2c !important;
  --light_gray: #7c7c7c;
  --dark_gray: #2c3136;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: rgba(255, 255, 255, 0.692) !important;
}

li,
a {
  color: var(--gray) !important;
  text-decoration: none !important;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: underline;
}

li {
  margin-bottom: 0.5rem;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: var(--gray) !important;
  --bs-btn-border-color: var(--gray) !important;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--light_gray) !important;
  --bs-btn-hover-border-color: var(--light_gray) !important;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--light_gray) !important;
  --bs-btn-active-border-color: var(--light_gray) !important;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: var(--gray) !important;
  --bs-btn-disabled-border-color: var(--gray) !important;
  transition: all .2s ease-in-out; 
}

.btn-primary:hover {
  transform: scale(1.1); 
}


.active {
  background-color: #fff !important;
  border: 0.15rem solid var(--gray) !important;
  color: var(--gray) !important;
}

.nav-bar .active {
  border-top: none !important;
  border-right: none !important;
  border-left: none !important;
  border-bottom: 0.15rem solid var(--gray) !important;
  color: var(--gray) !important;
}

input,
.left-icon,
.right-icon,
select,
textarea {
  border-color: var(--gray) !important;
}

hr {
  color: var(--gray) !important;
  opacity: 1 !important;
  border: black 0.1rem solid !important;
}

.navbar-brand {
  width: 25% !important;
}

.right-icon:hover {
  background-color: var(--gray);
  color: #ffffff;
}

.hero-banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./assets/sliding.jpg");
  background-position: center;
  background-attachment: fixed;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: cover;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.slider {
  background-position: center;
  align-items: center;
  height: 50% !important;
}

.slider .text-center {
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  padding: 20px;
  border-radius: 10px;
}

.recommendations {
  flex-wrap: nowrap;
  overflow-y: hidden;
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--gray) white !important;
}

.card {
  border-color: var(--gray) !important;
  background-color: rgba(33, 37, 41, 0.1) !important;
  margin-bottom: 5px !important;
  width: 30rem;
  transition: all .2s ease-in-out; 
}

.card:hover {
  transform: scale(1.02); 
}

.review-card:hover {
  transform: scale(1.02); 
}

.card-image {
  width: 100% !important;
  height: 20rem !important;
  object-fit: cover;
}

.card-sm {
  display: flex;
  align-items: center;
}

.reservation-form {
  width: 70%;
}

.dropdown-menu {
  left: -250% !important;
}

/* Highlight reserved date */
.react-calendar {
  width: 100%;
  border: 0.1rem solid var(--gray) !important;
  border-radius: 0.5rem;
  margin-bottom: 5px !important;
  padding: 1rem;
}

.react-calendar__navigation * {
  background-color: #fff !important;
}

.react-calendar__month-view__days * {
  padding: 0.5rem !important;
  gap: 0.5rem !important;
  border-radius: 1.5rem !important;
}

.react-calendar__tile:disabled {
  background-color: #fff !important;
}

.react-calendar__tile--rangeStart,
.react-calendar__tile--rangeEnd {
  background-color: #007bff !important;
  color: white !;
  font-weight: bold;
}

/* Animations */
.grow { 
  transition: all .2s ease-in-out; 
}

.grow:hover { 
  transform: scale(1.1); 
}



/* Additional Media Queries */
@media only screen and (max-width: 992px) {
  body {
    background-color: lightblue !important; /* Color for screens <= 992px */
  }

  .hero-banner {
    height: 80vh;
  }

  .slider h5 {
    font-size: 1rem !important;
    width: 100% !important;
  }

  .reservation-form {
    width: 100%;
  }

  h1 {
    font-size: 1.5rem !important;
  }

  .nav-bar {
    display: flex !important;
    flex-wrap: nowrap !important;
  }
}

/* Mobile Portrait */
@media only screen and (max-width: 768px) {
  body {
    background-color: lightgreen !important; /* Color for screens <= 768px */
  }

  .navbar-brand {
    width: 75% !important;
  }

  .card {
    width: 100% !important;
  }

  .auth-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .auth-form img {
    height: 10% !important;
    max-width: 10rem;
  }

  .slider img {
    width: 100% !important;
  }

  .room-info {
    display: flex !important;
    flex-direction: column;
  }

  .room-info img {
    display: inline-flex !important;
    width: 100% !important;
  }

  .hero-text {
    top: 50%;
  }

  .hotel-information {
    display: flex !important;
    flex-direction: column;
    align-items: center;
  }


}

/* Mobile Devices */
@media only screen and (max-width: 576px) {
  body {
    background-color: lightcoral !important; /* Color for screens <= 576px */
  }

  .card {
    background-color: #007bff !important;
    width: 22rem!important;
  }

  .hero-banner {
    height: 100vh;
  }

  .navbar-brand {
    width: 40% !important;
    height: 50% !important;
    display: none !important;
    background-color: #007bff !important;
  }

  .slider h5 {
    font-size: 0.875rem !important;
    width: auto !important;
  }

  .nav-bar-row-2 {
    display: none !important;
    background-color: #007bff !important;
  }
}
