:root {
  --gray: #2c2c2c !important;
  --light_gray: #7c7c7c;
  --dark_gray: #2c3136;
}

ul {
  list-style-type: none;
  padding-left: 0 !important;
}

li, a {
  color: var(--gray) !important;
  text-decoration: none !important;
}

a:link, a:visited {
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: underline;
}

li {
  margin-bottom: 0.5rem;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: var(--gray) !important;
  --bs-btn-border-color: var(--gray) !important;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--light_gray) !important;
  --bs-btn-hover-border-color: var(--light_gray) !important;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--light_gray) !important;
  --bs-btn-active-border-color: var(--light_gray) !important;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: var(--gray) !important;
  --bs-btn-disabled-border-color: var(--gray) !important;
}

input, .left-icon, .right-icon {
  border-color: var(--gray) !important;
}

hr {
  color: var(--gray) !important;
}

.right-icon:hover {
  background-color: var(--gray);
  color: #ffffff;
}

.hero-banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('./assets/sliding.jpg');
  background-position: center;
  background-attachment: fixed;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: cover; 
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.slider {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
background-position: center;
background-attachment: fixed;
justify-content: center;
align-items: center;
height: 45vh;
background-size: cover; 
}

.recommendations {
  flex-wrap: nowrap;
  overflow-y: hidden;
  overflow-x: auto; 
  scrollbar-width: thin;
  scrollbar-color: var(--gray) white !important;
}

.card {
  border-color: var(--gray) !important;
  background-color: rgba(33, 37, 41, 0.1) !important;
  margin-bottom: 5px !important;
  width: 30rem;
}

.card-sm {
  display: flex;
  align-items: center;
}

.reservation-form {
  width: 60%;
}

/* Additional Media Queries */
@media only screen and (max-width: 992px) {
  .hero-banner {
    height: 80vh;
  }

  .slider h5 {
    font-size: 1rem !important;
    width: 100% !important;
  }

  .reservation-form {
    width: 100%;
  }

  h1 {
    font-size: 1.5rem !important;
  }
}

@media only screen and (max-width: 768px) {
  .card {
    width: 100% !important; 
  }

  .navbar-brand {
    width: 50%;
  }

  .nav-links {
    display: none; 
  }

  .navbar-toggler {
    display: inline-block;
  }
}

@media only screen and (max-width: 576px) {
  .hero-banner {
    height: 70vh;
  }

  .navbar-brand {
    width: 80%;
  }

  .slider h5 {
    font-size: 0.875rem !important;
    width: auto !important;
  }
}
