* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

input:hover {
    border: solid 1px blue;
}

h4 {
    margin-left: 150px;
    margin-right: 150px;
}

.Left-column {
    display: flex;
}

.First-name {
    margin-right: 20px;
}

.Email {
    width: 150px;
}

.Thumbnail {
    width: 80px;
}

.EmployeeForm {
    margin-left: 200px;
    margin-right: 200px;
}

.centered {
    position: absolute;
    right: 50%;
}