:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.black-text {
  color: rgba(0, 0, 0, 0.7) !important;
}

input:hover,
select:hover {
  border: solid 3px #646cff !important;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  min-width: 320px;
  min-height: 100vh;
}

input {
  border-radius: 25px !important;
  border: solid 2px lightgray !important;
}

button {
  border-radius: 15px !important;
}

.search {
  border: none !important;
}

.search-bar {
  width: 71% !important;
}

label {
  border: none !important;
}

select {
  border-radius: 25px !important;
  border: solid 2px lightgray !important;
}

.outline {
  border: solid 2px #fff !important;
}

.streak {
  border-radius: 25px !important;
  border: solid 3px lightgray !important;
}

ul {
  list-style-type: none;
  margin: auto;
  text-align: start;
}

.error-list {
  background-color: var(--bs-danger-bg-subtle);
  border-radius: 20px !important;
  border: solid 1px var(--bs-danger-border-subtle) !important;
}

.floating {
  position: absolute;
  bottom: 5%;
  right: 20%;
}
