#recipe-cards {
  flex-wrap: nowrap;
  overflow-y: hidden;
  overflow-x: visible;
  scrollbar-width: thin;
  scrollbar-color: #164240 white !important;
}

.card {
  background-color: rgb(33, 37, 41, 0.1) !important;
  margin-bottom: 5px !important;
}

.card-sm {
  display: flex;
  align-items: center;
  height: 200px !important;
  margin-bottom: 5px !important;
}

.search-results {
  background-color: rgb(33, 37, 41, 0.1) !important;
}

.card-header {
  background-color: transparent !important;
}

.header {
  color: #f7f7f7 !important;
}

button {
  background-color: #164240;
  border: 3px solid #164240 !important;
  border-radius: 5px !important;
  color: #f7f7f7 !important;
}

.green {
  background-color: #164240;
  border: 3px solid #164240 !important;
  border-radius: 30px !important;
  color: #f7f7f7 !important;
}

.button-group {
 flex-wrap: nowrap;
 overflow: scroll;
}
.green:hover {
  background-color: #9acd32;
  border: 3px solid #164240 !important;
  border-radius: 30px !important;
  color: #164240 !important;
}

.grey {
  background-color: grey;
  border: 3px solid #164240 !important;
  border-radius: 30px !important;
  color: #f7f7f7 !important;
}

.grey:hover {
  background-color: #9acd32;
  border: 3px solid #164240 !important;
  border-radius: 30px !important;
  color: #164240 !important;
}

.btn-close {
  background-color: #164240 !important;
  border: 3px solid #164240 !important;
  border-radius: 5px !important;
  color: #f7f7f7 !important;
}

li {
  cursor: pointer !important;
}

.search-form {
  position: relative;
}

.input-container {
  display: flex;
  align-items: center;
  border: 4px solid #164240 !important;
  border-radius: 5px !important;
}

.search-button {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  cursor: pointer;
  padding: 0 10px;
  display: flex;
  align-items: center;
}

.search-button i {
  color: #f7f7f7 !important;
}
